name: Sync Staging to Prod Push Cleaned Repo to External Repo

on:
  push:
    branches:
      - testing          
  pull_request:
    branches:
      - testing        
    types: [opened, synchronize, closed]


jobs:
  push_cleaned:
    if: github.event.pull_request.merged == true || github.event_name == 'push'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure Git user
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

      - name: Delete unwanted folder
        run: |
          rm -rf project-6.md
          git add -A
          git commit -m "Remove folder before pushing to external repo" || echo "Nothing to commit"


      - name: Prepare clean copy for external repo
        run: |
          rm -rf /tmp/export
          mkdir -p /tmp/export
          cp -R . /tmp/export

          # Remove old Git history if it exists
          rm -rf /tmp/export/.git

      - name: Push to external repo
        run: |
          cd /tmp/export
          git init -b main
          git remote add origin https://${{ secrets.TOKEN_GITHUB }}@github.com/Revival-fire/tryingout-project6.git
          git add .
          git commit -m "Synced from source repo"
          
          # Force push with lease bypass
          git push origin main --force-with-lease --force
        env:
          TOKEN_GITHUB: ${{ secrets.TOKEN_GITHUB }}

